.list-container{
    margin: 10px, 10px;
    // padding-left: 25px;
    // padding-right: 20px;
    width: 14vh;
    height: 70vh;
    overflow-y: auto;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar{
    display: none;
}

.list-text {
    white-space: nowrap;
}

