.display-box {
    padding-left: 10px;
}

.display-container {
    display: flex;

}

.description-container {
    width: 100%;
}

.search-box-container {
    padding-bottom: 10px;
    padding-left: 10px;
}

